/* Site Stylesheet / SMACSS Architecture
	1. RESET
  2. BASE
  3. LAYOUT
  4. TYPOGRAPHY
  5. MODULE
  6. STATE
  7. THEME


/* 	1. RESET
======================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*   2. BASE
======================================== */
html {
		background-color: #624e4e;
    background-image: url(../02_CODE/assets/image-hero-desktop.png);
    background-repeat: no-repeat;
    background-position: 700px -100px;
}

body {
  width: 1110px;
  margin: auto;
}

/* 3. LAYOUT
======================================== */

.header {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  min-height: 6em;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  max-width: 50%;
  height: 40em;
}

.courses {
  display: flex;
  justify-content: space-between;
}

/* 4. TYPOGRAPHY
======================================== */

h1 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 3.5em; /* 56px */
  font-weight: 800;
  color: #13183F;
  line-height: 1.2;
}

h2 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2.5em; /* 40px */
  font-weight: 800;
  line-height: 1.2;
}

h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 2em; /* 32px */
  font-weight: 800;
  line-height: 1.2;
}

h4 {
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.5em; /* 24px */
  font-weight: 800;
  color: #13183F;
  line-height: 1.2;
}

p {
  font-family: 'Plus Jakarta Sans', sans-serif; 
}

.p--medium {
  font-size: 1.125em; /* 18px */
  font-weight: 400;
  color: #83869A;
  line-height: 1.5;
}

.p--small {
  font-size: 1em; /* 16px */
  font-weight: 800;
  color: #83869A;
  line-height: 1.5;
}

/* 5. MODULE
======================================== */

/* Header */

.header__image {
  height: 2em;
}

/* Buttons */

.hero__button {
  background:
  linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
  padding: 20px 30px;
  margin-top: 40px;
  border-radius: 2.5em;
  border: 0;
  cursor: pointer;
  font-family: 'Plus Jakarta Sans', sans-serif;
  font-size: 1.125em; /* 18px */
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
}

/* Cards */

.card {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  min-height: 322px;
  background: #FFFFFF;
  box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
  border-radius: 15px;
  padding: 0 32px;
  margin-bottom: 4em;
}

.card__icon {
  width: 56px;
  height: 56px;
  position: relative;
  top: -35px;
  bottom: -10px;
}

.card__intro {
  padding: 20px 32px;
  font-family: 'Plus Jakarta Sans', sans-serif; 
  color: #ffffff;
  background:
  linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}

.card__title {
  flex-basis: 100%;
}

/* 6. STATE
======================================== */

.hero__button:hover {
  background:
  linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),
  linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
}